section.section, .margin-section, .margin-section-mobile{
  margin-top: 48px;
  h2{
    margin-top:0;
  }
}

section.padding{
  padding-top: 40px;
  padding-bottom: 40px;
}

@include respond-above(md){
  .margin-section-mobile{margin-top:0}
  section.section, .margin-section{margin-top: 80px;}
  section.padding{
    padding-top: 160px;
    padding-bottom: 160px;
  }
}
