<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0,maximum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Home</title>
  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="../css/style.css" />

  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link id="favicon" rel="shortcut icon" href="../images/favicon.ico" type="image/png" />
</head>
<body>
<div id="wrapper" class="home">
  <header id="header">
    <a id="logo" href="/" title="Ir a la portada de Unir formacion empresas">
      <img src="../images/logo-dbet.png" alt="Logo DisasterBet" title="Logo DisasterBet"/>
    </a>
    <nav>
      <ul class="literal-menu">
        <li><a href="#">Funcionamos fácil</a></li>
        <li><a href="#">Servicios</a></li>
        <li><a href="#">Glosario</a></li>
        <li><a href="#">Casas de apuestas</a></li>
        <li><a href="#">Contacto</a></li>
      </ul>
      <div class="language-switcher"><a>España</a></div>
      <div class="social">
        <ul>
          <li>
            <a href="" title="Facebook"><i class="fa fa-facebook"></i></a>
          </li>
          <li>
            <a href="" title="Twitter"><i class="fa fa-twitter"></i></a>
          </li>
          <li>
            <a href="" title="Instagram"><i class="fa fa-instagram"></i></a>
          </li>
        </ul>
      </div>
    </nav>
    <div id="menu-toggle">
      <div></div>
    </div>
  </header>
  <main id="main">
    <section class="hero-container">
      <div class="hero">
        <picture>
          <!-- tatamiento vertical -->
          <source media="(orientation:portrait)" srcset="https://images.pexels.com/photos/5553050/pexels-photo-5553050.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260">
          <!-- tatamiento version_horizontal -->
          <img alt="[Alt imagen]" title="[title imagen]" src="https://cdn.pixabay.com/photo/2021/01/02/23/55/dog-5883275_960_720.jpg">
          <noscript>
            <img alt="[Alt imagen]" title="[title imagen]" src="https://cdn.pixabay.com/photo/2021/01/02/23/55/dog-5883275_960_720.jpg">
          </noscript>
        </picture>
        <div class="data-container">
          <h1>Somos DBet</h1>
          <p>Especialistas en la pronosticación deportiva</p>
        </div>
      </div>
    </section>
    <section class="section">
      <div class="container small full center">
        <h2>¿Quienes somos?</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut scelerisque mattis urna, pellentesque nunc. Dolor sit purus lectus vestibulum ac. Euismod phasellus nisi sociis fringilla nibh turpis elit fermentum. Pretium t pulvinar facilisis in amet at odio nec.</p>
      </div>
    </section>
    <section class="section">
      <ul class="image-mosaic horizontal">
        <li>
          <img src="https://images.pexels.com/photos/7187827/pexels-photo-7187827.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="" title=""/>
        </li>
        <li>
          <img src="https://images.pexels.com/photos/3621104/pexels-photo-3621104.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="" title=""/>
        </li>
      </ul>
    </section>
  </main>
  <footer id="footer">
      <div class="container full">
        <p>DisasterBet ® 2021. Todos los derechos reservados</p>
        <ul>
          <li><a href="" title="[title]">Cookies</a></li>
          <li><a href="" title="[title]">Términos y condiciones</a></li>
        </ul>
      </div>
  </footer>
</div>
</body>
<script src="https://kit.fontawesome.com/e8db80203d.js" crossorigin="anonymous"></script>
<script type="text/javascript" src="../js/swiper.min.js"></script>
<script type="text/javascript" src="../js/custom.js"></script>
</html>
